
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/favicon-32x32.png);
}

.container {
    width: 70vmax;
    height: 70vmin;
    background-color: hsl(212, 45%, 89%);
    margin: 15vmin auto;
    box-shadow: 3px 7px 10px 2px rgba(0, 0, 0, .7);
    border-radius: 5px;
    position: relative;
}

.barcode img {
    width: 16.5vmax;
    height: 32vmin;
    margin-top: .6rem;
}

.barcode {
    width: 18.3vmax;
    height: 60vmin;
    position: absolute;
    top: 2rem;
    left: 23rem;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
}

.barcode .satu {
    padding: 20px 20px 0 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 1em;
}

.barcode .dua {
    padding: 10px 20px;
    font-weight: 400;
    font-size: .8em;
}

.barcode,
.barcode img {
    border-radius: 1.5rem;
}

.attribution { 
    font-size: 0.7em; 
    text-align: center;
}
    
.attribution a {
    color: hsl(228, 45%, 44%); 
}