* {
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    height: 1056px;
    background-image: url(images/favicon-32x32.png);
}

.container {
    width: 700px;
    height: 400px;
    background-color: hsl(212, 45%, 89%);
    margin: 10% auto;
    box-shadow: 3px 7px 10px 2px rgba(0, 0, 0, .7);
    border-radius: 5px;
}

.barcode {
    background-color: hsl(0, 0%, 100%);
}

.attribution { 
    font-size: 11px; text-align: center;
}
    
.attribution a {
    color: hsl(228, 45%, 44%); 
}